:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  
  /* 👇 УБЕРИ ЭТИ СТРОКИ, ЕСЛИ ОНИ ЕСТЬ! 👇 */
  /* display: flex; */
  /* place-items: center; */
  /* 👆 ОНИ ЦЕНТРИРУЮТ ВСЁ ПО ВЕРТИКАЛИ, ЭТО ЗЛО ДЛЯ ДЛИННЫХ СТРАНИЦ */
}

#root {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  
  /* 👇 ВАЖНО: start, а не center */
  justify-content: flex-start; 
  align-items: center;
  
  margin: 0 auto;
}